header{
    background-color: black,0.9;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.container{
    width: 100%;
    padding-top: 1rem;
    
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.logo img{
    width: 100px;
}

.nav-list{
    display: flex;
    column-gap: 2.2rem;
    align-items: center;
}
.nav-link{
    text-transform: uppercase;
    font-weight: 500;
    transition: all .3s;
}
.nav-link:hover{
    color: red;
}
.avatar{
    display: flex;
    align-items: center;
}
.avatar img{
    width: 40px;
}
.avatar h2{
    font-size: 0.8em;
    font-weight: 300;
    padding-left: 10px;
    cursor: pointer;
}
@media (max-width:635px) {
    .nav-link,.bxs-bell,.avatar{
        display: none;
    }
}